.icon-48-__membership_category6955s {
      background-image: url(../images/l___membership_category6955s.png);
      padding-left:60px!important;
}

.icon-48-__membership_category6955 {
      background-image: url(../images/l___membership_category6955s.png);
      padding-left:60px!important;
}

